body {
    background-color:black;
}
.blur {
    position: absolute;
    top: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(21px);
}
.wrap__lead {
    position: relative;
    top: -80px;
    right: 0;
    width: 100%;
    display: grid;
    justify-items: center;
}
#img1 {
    position: relative;
    top: -33px;
    grid-column: 1 / 3;
    left: -20px;
}
#img4 {
    grid-column: 5 / 6;
    position: relative;
    top: -23px;
    left: 11px;
    display: flex;
    justify-content: end;
}
#img5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#img9 {
  position: relative;
  left: 20px;
}
#img11 {
  position: relative;
  left: 82px;
}
#img12 {
  position: relative;
  left: 190px;
}
#img13 {
  position: relative;
  left: 234px;
}
.middle_top {
  position: relative;
  top: 40px;
}
.down_center {
  display: flex;
  align-items: center;
}
.lead__image {
    width: 100%;
    object-fit: contain;
    z-index: 2;
}
.lead__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 250px;
    z-index: 3;
}
.lead__logo-description {
    color: #F6DBA8;
    font-size: 24.4px;
    line-height: 27.94px;
    font-weight: 700;
    font-family: "WorkSans-Regular";
    margin: 13px 0;
    text-align: center;
}
.wrap__sections {
    width: 100%;
    margin: 0 auto;
}
.description__title {
    text-align: center;
    color: #F6DBA8;
    font-size: 165.43px;
    line-height: 264.69px;
    font-weight: 50;
    font-family: "WorkSans-Light";
    margin: 119px auto 104px;
    font-feature-settings: 'salt' on, 'ss03' on, 'ordn' on, 'swsh' on;
}
.description__paragraph {
    text-align: center;
    color: #F6DBA8;
    font-size: 43.75px;
    line-height: 70px;
    font-weight: 50;
    font-family: "WorkSans-Light";
    margin: 0 auto;
    font-feature-settings: 'salt' on;
}
.description__paragraph:last-of-type {
    margin: 0 auto 250px;
}
