.concept {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1330px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: #FFFFFF;
}

.concept__wrapper {
  display: flex;
  justify-content: space-between;
}

.join-us__header {
  margin-top: 20px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  color: #F6DBA8;
}

.join-us__descr {
  width: 348px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
}

.join-us__btn {
  width: 364px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  background-color:#05060B;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #ffff;
  transition: .5s;
}

.join-us__btn:hover {
  background-color: #ffff;
  color: #05060B;
}

.davosCard__title {
  position: absolute;
  bottom: 54px;
  left: 30px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #F6DBA8;
}

.davosCard__date {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'salt' on;
  color: #F6DBA8;
  text-shadow: 0px 0px 13px #000000;
}

.davosCard {
  position: relative;
  width: 410px;
  height: 200px;
  border: 2px solid #F6DBA8;
}

.davosCard__img {
  position: absolute;
  width: 406px;
  height: 196px;
}

.Card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.concept-download {
  display: block;
  width: 410px;
  height: 50px;
  margin: 100px auto;
  width: 364px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  background-color:#05060B;
  transition: .5s;
}

.concept-download:hover {
  background-color: #ffff;
}

.download-wrap {
  display: flex;
  justify-content: space-between;
}

.concept-donwload__text {
  margin-right: 10px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #ffff;
}

.concept-donwload__text:hover {
  color: #05060B;
}

.arrow-button {
  margin-left: 10px;
  margin-top: 8px;
  width: 15px;
  height: 15px;
}

.partners {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1330px;
}

.partners__title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: #FFFFFF;
}

.partners__wrapper {
  display: flex;
  justify-content: space-between;
}

.partners__descr {
  margin-top: 20px;
  width: 470px;
  height: 128px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
}

.partners__supported {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supported-descr {
  width: 471px;
  margin-left: 10px;
  margin-top: 26px;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 26.469px;
  line-height: 120%;
  color: #F6DBA8;
}

.partners__logos {
  margin-top: 39px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 43px;
}

.supporters {
  grid-column: span 3;
}

.supporters-2 { 
  grid-column: span 4;
}

.supporters:nth-child(6) {
  position: relative;
  left: 184px;
}

.supporters:nth-child(7) {
  position: relative;
  left: 280px;
  bottom: 40px;
}