@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.eot');
    src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Regular.woff') format('woff'),
    url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Light';
    src: url('../fonts/WorkSans-Light.eot');
    src: url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Light.woff') format('woff'),
    url('../fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../fonts/WorkSans-Bold.eot');
    src: url('../fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Bold.woff') format('woff'),
    url('../fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'WorkSans-Regular';
}
.wrap_header {
  width: 100%;
  background: #05060B;
  display: flex;
  justify-content: center;
}
.header {
  margin: 15px 0px;
  width: 1290px;
  height: 50px;
}
.nanigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nanigation-list {
  display: flex;
  align-items: center;
}
.nanigation-item {
  margin-left: 50px;
}
.nanigation-link {
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #FFFFFF;
}

#login {
  width: 113px;
  height: 50px;
  border: 1.5px solid #F6DBA8;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#under_logo {
  width: 162px;
  font-style: normal;
  font-weight: bold;
  font-size: 15.7772px;
  line-height: 19px;
  color: #787878;
}
