/* davosSection */

@media (min-width: 576px) and (max-width: 992px) {
  .wrap__sections {
    max-width: 726px;
  }
  .arrow-button__strategic2 {
    left: -24px;
  }
  .header__burger {
    width: 22px;
    height: 18px;
  }

  .lead__logo {
    width: 43px;
    height: 37px;
  }

  .lead__logo-description {
    font-size: 10px;
    width: 109px;
    line-height: 114%;
  }

  .lead__container {
    bottom: -23px;
  }

  .description__title {
    font-size: 68px;
    line-height: 160%;
    margin: 0 auto;
  }

  .description__paragraph {
    font-size: 24px;
    line-height: 160%;
  }

  .description__paragraph:last-of-type {
    margin: 0 auto 80px;
  }
}
